@page
@model  IndexModel
@{
    ViewData["Title"] = "RPC :: Auth";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Username</a>
                </th>
                <th>
                    <a>First Name</a>
                </th>
                <th>
                    <a>Last Name</a>
                </th>
                <th>
                    <a>Birthdate</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RPCUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    
    
</div>
